# Project ignores
.env_prod.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/*
__pycache__/*
01_happy_path/build
01_happy_path/results
01_happy_path/_binarysearch.cpp
01_happy_path/src/.idea
01_happy_path/src/.cmake
01_happy_path/src/.ninja*
01_happy_path/src/build.*
01_happy_path/src/Makefile
01_happy_path/src/CMakeFiles/
01_happy_path/src/cmake_install.cmake
01_happy_path/src/binarysearch
01_happy_path/src/CMakeCache.txt
01_happy_path/cython_debug/
01_happy_path/flamegraphs/

*.log